@mixin transition {
  transition-property: border, outline, color, background-color, transform, fill, stroke, opacity, filter;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

@mixin  backgroundCenter {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

$primary: #4F2EDC;
$primary-light: #947ADA;
$gray: #9A9999;
// темная тема
$color-background: rgb(85, 90, 95);
$color-background-contrast: rgb(101, 106, 110);
$color-translucent-background:rgba( 85, 85, 85, 1);
$color-background-alternate: rgb(60, 61, 61);

$color-translucent-background-three:transparent;
$color-translucent-background-two:rgba(105, 105, 105, 0.65);
$color-translucent-background-four:rgba(255, 255, 255, 0.15);
$color-translucent-background-five:rgba(255, 255, 255, 0.153);
$color-background-shadow: rgba(45, 60, 72, 0.15);

$color-background-btn:rgb(248, 203, 69);
$color-background-btn-alternate:rgb(63, 64, 68);
$color-background-btn-alternate-two:rgb(254, 240, 131);

$color-background-btn-active:rgb(248, 203, 69);
$color-background-btn-active-alternate:rgb(22, 20, 20);
$color-background-btn-hover:rgb(248, 203, 69);
$color-background-btn-hover-alternate:rgb(22, 20, 20);

$color-text-btn-active:rgb(233, 233, 233);
$color-text-btn-active-alternate:rgb(233, 233, 233);

 $color-border:rgb(187, 187, 187);
 $color-border-btn:rgb(187, 187, 187);
 $color-border-alternate:rgb(187, 187, 187);
 $color-border-btn-active:rgb(51, 51, 51);
 $color-border-btn-hover:rgb(51, 51, 51);

 $color-text: rgb(244, 244, 244);
 $color-text-alternate: rgb(244, 244, 244);

 $color-btn-text: rgb(51, 51, 51);
 $color-btn-text-alternate: rgb(244, 244, 244);
$color-btn-text-alternate-two: rgb(248, 203, 69);


 $color-status-work: rgba(41, 184, 132, 1);
 $color-status-non-work: #D11616;

 $box-shadow-btn: -5px -5px 10px -9px rgb(248, 203, 69);

 $opacity-btn-nav: 0.9;

$border-btn: none;
$border-input: 2px solid $color-border-alternate;

   //размеры
$min-height: 70px;
$min-margin: 25px;
$radius-btn: 100px;
$padding-popup: 25px;
$radius-big-btn: 15px;
$radius-btn-alternate: 1000px;
$font-size-big-btn: 1.1em;
$font-size-big-btn-bold: 16px;
$font-weight-big-btn: 400;
$font-weight-big-btn-bold: 600;
$transition-base: .2s;


$keyboard-bg: rgb(63, 64, 68);
$keyboard-color: rgb(244, 244, 244);