@import '_mixin.scss';

.pin {
  position: relative;
  display: flex;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 10px;
  padding-top: 20px;
  border-radius: 25px;
  color:$color-text;
  background-color: transparent;
  @media screen and (min-width: 1025px) {
    padding: 20px;
    padding-top: 50px;
  }
  @media screen and (min-width: 1680px) {
    padding: 20px;
    padding-top: 50px;
  }
  &__title {
    font-size: 1.5em;
    @media screen and (min-width: 1025px) {
      font-size: 2em;
    }
    @media screen and (min-width: 1680px) {
      font-size: 2.5em;
    }
  }
  &__display {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    width: 75%;
    height: 6%;
    font-size: 1rem;
    margin-bottom: 10x;
    @media screen and (min-width: 1680px) {
      margin-bottom: 25px;
    }
  }
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100%/6 - 10px);
    height: 100%;
    border-radius: 100px;
    color:$color-text;
    font-weight: bold;
    font-size: 24px;
    background-color: $color-translucent-background-three;
  }
  &__item-value {
    font-family: sans-serif;
  }
  &__numpad {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 250px;
    height: 300px;
    margin-bottom: 10px;
    @media screen and (min-width: 1025px) {
      width: 300px;
      height: 400px;
    }
    @media screen and (min-width: 1680px) {
      width: 330px;
    }
 }
 &__btn-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
 }
  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: $border-btn;
    border-radius: $radius-big-btn;
    width: 70px;
    height: 70px;
    font-weight: bold;
    font-size: 28px;
    color:$color-text;
    background-color: $color-translucent-background-five;
    transition: opacity $transition-base, transform $transition-base, background-color $transition-base;
    cursor:pointer;
    -ms-user-select: none;
    user-select: none;
    @media screen and (min-width: 1025px) {
      width: 90px;
      height: 90px;
    }
    @media screen and (min-width: 1680px) {
      width: 93px;
      height: 93px;
    }
    &:active {
      background-color: $color-background;
      opacity: 0.9;
      transform: scale(0.85);
    }
    &_del,&_reset {
      svg {
        width: 50px;
        height: 50px;
      }
    }
  }
  &__manual-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 200px;
    color:$color-text;
    background-color: $color-translucent-background-five;
    border-radius: $radius-btn;
    font-weight: bold;
    font-size: 16px;
    transition: opacity $transition-base, transform $transition-base, background-color $transition-base;
    cursor:pointer;
    -ms-user-select: none;
    user-select: none;
    &:active {
      background-color: $color-background;
      opacity: 0.9;
      transform: scale(0.85);
    }
    &:not(:last-child) {
      margin-right: 15px;
    }
    @media screen and (min-width: 1680px) {
      height: 50px;
      width: 200px;
    }
  }
  &__btn path{
    fill:$color-text;
  }
}

